h2{
    font-family: 'Homemade Apple', cursive;
    text-decoration: #A65D6A underline;
    text-transform: none;
    font-size: 2rem;
}

td{
    padding: 8px;
    text-align: left;
    .btn-danger{
        background-color: #dc3545;
        border-color: #dc3545;
    }
}
