.ItemDetail{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    size: 2;
}

.ItemImg{
    width: 300px;
}

.item-detail{
    display: flex;
    justify-content: center;
    align-items: center;
}