

.greeting{
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Homemade Apple', cursive;
    font-weight: lighter;

    word-spacing: 6px;
}