small{
    color: firebrick;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 80%;
}

.invalid-form{
    border-color: firebrick;
}

.checkout-form{
    background-color: lighten( #D7D7D9, 10%) ;
    border: 1px solid #D7D7D9;
    box-shadow: 10px 12px 22px -12px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 12px 22px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 12px 22px -12px rgba(0,0,0,0.75);
}

label{
    font-weight: bold;
    margin-right: 12px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.btn-submit-order{
    background-color: #686673;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: white;
    &:hover{
        animation: button-hover 1s infinite ;
    }
}

@keyframes button-hover {
    
    0%{
        background-color: #686673;
        color: white;
    }
    100%{
        background-color: #2CB054;
        color: black;
    }
}