.footer{
    background-color: #343140;
    color: #D7D7D9;
    font-family: 'Oswald', sans-serif;
    padding: 12px;
    h4{
        margin: 0;
        padding: 0;
        color:#D9A7B4;
        text-transform: uppercase;
        font-weight: lighter;
    }
}