.footer{
    background-color: #343140;
    color: #D7D7D9;
    font-family: 'Oswald', sans-serif;
    h4{
        margin: 0;
        padding: 0;
        color:#D9A7B4;
        text-transform: uppercase;
        font-weight: lighter;
    }

    a{
        text-decoration: none;
        color: unset;
        &:visited{
            color: unset;
        }
        &:hover{
            color: lighten(#D7D7D9, 10%);
        }
    }

    .heart{
        color: #A65D6A;
    }
}