@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Montserrat:wght@200&family=Oswald&display=swap');

.App{
    height: 100%;
    background-image: url("./assets/img/background1.svg");
    background-position: center;
    background-size: cover;
}


