@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Montserrat:wght@200&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background-image: url("./assets/img/background1.svg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.loading{
    font-family: 'Homemade Apple', cursive;
    font-weight: lighter;
    word-spacing: 6px;
    text-transform: none;
}

.item-list-title{
    font-family: 'Homemade Apple', cursive;
    font-weight: lighter;
    word-spacing: 6px;
    text-transform: none;
}