h2{
    font-family: 'Homemade Apple', cursive;
    font-size: 2rem;
    text-decoration: #A65D6A underline;
}
.item-list-title{ 
    font-family: 'Homemade Apple', cursive;
    font-weight: lighter;
    margin-top: 20px;
    font-size: 2rem;
    text-decoration: #A65D6A underline;
}

