.banner{
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 2px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 0.7rem;
    p{
        margin: 0;
        padding: 0;
    }
}